
body {
    //font-family: 'Dosis', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
}


.cursive-heading {
    font-family: 'Lobster', cursive;
}

.med-top-space {
    margin-top: 60px;
}

.lg-top-space {
    margin-top: 300px;
}

.choice-tab {
    min-height: 100px;
    background-color: lightcoral;
    border-radius: 5px;
}

a.default-hover:hover {
    color:inherit;
    text-decoration: none;
    cursor: pointer;
}
a.inherit {
    color: inherit;
}