<div class="landing" ng-controller="LandingController as landingController">

    <vid-bg resources="landingController.resources" poster="landingController.poster"
            full-screen="landingController.fullScreen" muted="false" z-index="-100"
            play-info="landingController.playInfo" pause-play="landingController.pausePlay" auto-play="false"></vid-bg>

    <div class="container">
        <h1 class="cursive-heading" style="text-align: center"><a href="#/query" style="color: #FFFFFF">Wrappian Nights</a></h1>
    </div>

</div>